<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="public/images/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="stylesheets/style.a2afb8cd5bd58fcc1225.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>
  <body>
    <div class="app-container" style="text-align: center;">
      <iframe width="420" height="200" src="https://www.youtube.com/embed/nxEogOoXCS0"></iframe>
    </div>
    <div id="app-autocomplete"></div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/manifest.e1ef70c7e67bcf7ac26e.js"></script>
    <script type="text/javascript" src="javascripts/vendor.f226a46852b334e10efc.js"></script>
    <script type="text/javascript" src="javascripts/style.a2afb8cd5bd58fcc1225.js"></script>
    <script type="text/javascript" src="javascripts/app.f722390f19b1841d4d04.js"></script>
  </body>
</html>
